
@{
    ViewBag.Title = "DevOps - Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var CriticalityScores = parseInt($("input[name='Criticality']:checked").attr("score") == undefined ? 0 : $("input[name='Criticality']:checked").attr("score"));

            var ReleaseFrequencyScores = parseInt($("input[name='ReleaseFrequency']:checked").attr("score") == undefined ? 0 : $("input[name='ReleaseFrequency']:checked").attr("score"));

            var CodeMgmtScores = parseInt($("input[name='CodeMgmt']:checked").attr("score") == undefined ? 0 : $("input[name='CodeMgmt']:checked").attr("score"));

            var IssueTrackingScores = parseInt($("input[name='IssueTracking']:checked").attr("score") == undefined ? 0 : $("input[name='IssueTracking']:checked").attr("score"));

            var TestAutomationScores = parseInt($("input[name='TestAutomation']:checked").attr("score") == undefined ? 0 : $("input[name='TestAutomation']:checked").attr("score"));

            var ContinousIntegrationScores = parseInt($("input[name='ContinousIntegration']:checked").attr("score") == undefined ? 0 : $("input[name='ContinousIntegration']:checked").attr("score"));

            var AppComponentsSupportedScores = parseInt($("input[name='AppComponentsSupported']:checked").attr("score") == undefined ? 0 : $("input[name='AppComponentsSupported']:checked").attr("score"));

            var MemoryMonitoringScores = parseInt($("input[name='MemoryMonitoring']:checked").attr("score") == undefined ? 0 : $("input[name='MemoryMonitoring']:checked").attr("score"));

            var totalScore = CriticalityScores + ReleaseFrequencyScores + CodeMgmtScores + IssueTrackingScores + TestAutomationScores + ContinousIntegrationScores + AppComponentsSupportedScores + MemoryMonitoringScores;

            if (totalScore >= 20 && totalScore < 25) {
                $("#tblQuestions").toggle();
                $("#pnlContainer").toggle();
                $("#pnlInner").html("You are at Medium Risk - You have to improve on Automation / Releases and Monitoring to move on DevOps");
                //alert("You are at Medium Risk - You have to improve on Automation / Releases and Monitoring to move on DevOps");
            }

            if (totalScore >= 25) {
                $("#tblQuestions").toggle();
                $("#pnlContainer").toggle();
                $("#pnlInner").html("You are ready to move on DevOps");
                //Can Go for Devops
            }

            if (totalScore < 20)
            {
                $("#tblQuestions").toggle();
                $("#pnlContainer").toggle();
                $("#pnlInner").html("You are at High Risk to move on DevOps. You have to improvein Release Frequency / Code Management / Tracking / Test Automation / Continous Integration / Memory Monitoring");
                //Cannot go for Devops
            }
        });
    });
</script>
<h2>DevOps Entry Criteria:</h2><br />
@using (Html.BeginForm())
{
    <div  id="pnlContainer" class="alert alert-warning" style="display:none" role="alert">
        <div id="pnlInner">
            Basic panel example
        </div>
        <div class="form-group"><br /><br />
            <a href="../Home" class="btn btn-success">Home</a>
        </div>
    </div>

    

<table id="tblQuestions" class="table">

    <tr>
        <td width="40%"><label class="form-control-static"> What is the Application code & title:</label></td>
        <td><input type="text" class="form-control" required="required" /></td>
    </tr>

    <tr>
        <td><label class="form-control-static"> Which Busines unit does the application belong to:</label></td>
        <td>
            <input type="radio" required="required" name="AppBelongs" id="appUnit1" />&nbsp;CAO<br />
            <input type="radio" required="required" name="AppBelongs" id="appUnit2" />&nbsp;CFO<br />
            <input type="radio" required="required" name="AppBelongs" id="appUnit3" />&nbsp;CMB<br />
            <input type="radio" required="required" name="AppBelongs" id="appUnit4" />&nbsp;VZW
        </td>
    </tr>

    <tr>
        <td><label class="form-control-static">Criticality of the Application:</label></td>
        <td>
            <input type="radio" score="5" required="required" name="Criticality" id="appCriticality1" />&nbsp;MC<br />
            <input type="radio" score="3" required="required" name="Criticality" id="appCriticality2" />&nbsp;BC<br />
            <input type="radio" score="2" required="required" name="Criticality" id="appCriticality3" />&nbsp;SC<br />
            <input type="radio" score="1" required="required" name="Criticality" id="appCriticality4" />&nbsp;Non-crit
        </td>
    </tr>
    <tr>
        <td><label class="form-control-static">Release Frequency ?</label></td>
        <td>
            <input type="radio" value="Daily" onclick="releaseFreqAnswer(this);" score="5" name="ReleaseFrequency" id="ReleaseFrequency1" />&nbsp;Daily<br />
            <span id="Daily" style="display:none">
                How many releases daily ? <input type="text" min="1" max="100"  class="form-control" />
            </span>
            <input type="radio" value="Weekly" onclick="releaseFreqAnswer(this);" score="4" name="ReleaseFrequency" id="ReleaseFrequency2" />&nbsp;Weekly<br />
            <span id="Weekly" style="display:none">
                How many releases Weekly ? <input type="number" min="1" max="100" class="form-control" />
            </span>
            <input type="radio" value="Monthly" onclick="releaseFreqAnswer(this);" score="2" name="ReleaseFrequency" id="ReleaseFrequency3" />&nbsp;Monthly<br />
            <span id="Monthly" style="display:none">
                How many releases Monthly ? <input type="text" min="1" max="100"  class="form-control" />
            </span>
            <input type="radio" value="UnScheduled" onclick="releaseFreqAnswer(this);" score="1" name="ReleaseFrequency" id="ReleaseFrequency4" />&nbsp;Un Scheduled<br />
        </td>
    </tr>

    <tr>
        <td><label class="form-control-static">List of Containers supported:</label></td>
        <td>
            <input onclick="$('#CodeManagementspan').toggle();" type="checkbox" value="CodeMgmtMain" name="CodeManagement" id="CodeManagement" />&nbsp;Code Management<br />
            <span id="CodeManagementspan" style="display:none">
                <ol>
                    <li><input type="radio" value="CodeMgmtNone" score="0" name="CodeMgmt" id="codeMgmt4" />&nbsp;None</li>
                    <li><input type="radio" score="5" value="GIT" name="CodeMgmt" id="codeMgmt1" />&nbsp;GIT</li>
                    <li><input type="radio" score="5" value="STASH" name="CodeMgmt" id="codeMgmt2" />&nbsp;STASH</li>
                    <li><input onclick="$('#CodeMgmtOthers').toggle();" score="5" type="radio" value="Others" name="CodeMgmt" id="codeMgmt3" />&nbsp;Others</li>
                    <span id="CodeMgmtOthers" style="display:none">
                        Name other Code Management tools. <input score="5" type="text" class="form-control" />
                    </span>
                </ol>
            </span>

            <input onclick="$('#IssueTrackingSpan').toggle();" type="checkbox" value="IssueTracking" name="IssueTrackingMain" id="IssueTracking" />&nbsp;Issue Tracking tools.<br />
            <span id="IssueTrackingSpan" style="display:none">
                <ol>
                    <li><input type="radio" value="IssueTrackingNone" score="0" name="IssueTracking" id="IssueTracking4" />&nbsp;None</li>
                    <li><input type="radio" value="JIRA" score="5" name="IssueTracking" id="IssueTracking1" />&nbsp;JIRA</li>
                    <li><input type="radio" value="STASH" score="5" name="IssueTracking" id="IssueTracking2" />&nbsp;STASH</li>
                    <li><input onclick="$('#IssueTrackingOthers').toggle();" score="5" type="radio" value="IssueTrackingOthers" name="IssueTracking" id="IssueTracking3" />&nbsp;Others</li>
                    <span id="IssueTrackingOthers" style="display:none">
                        Name other Issue Tracking tools. <input type="text" class="form-control" />
                    </span>
                </ol>
            </span>

            <input onclick="$('#TestAutomationSpan').toggle();" type="checkbox" value="TestAutomation" name="TestAutomationMain" id="TestAutomation" />&nbsp;Test Automation tools.<br />
            <span id="TestAutomationSpan" style="display:none">
                <ol>
                    <li><input type="radio" value="TestAutomationNone" score="0" name="TestAutomation" id="TestAutomation4" />&nbsp;None</li>
                    <li><input type="radio" value="Selenium" score="5"  name="TestAutomation" id="TestAutomation1" />&nbsp;Selenium</li>
                    <li><input type="radio" value="QTP" score="5" name="TestAutomation" id="TestAutomation2" />&nbsp;QTP</li>
                    <li><input onclick="$('#TestAutomationOthers').toggle();" type="radio" score="5" value="TestAutomationOthers" name="TestAutomation" id="TestAutomation3" />&nbsp;Others</li>
                    <span id="TestAutomationOthers" style="display:none">
                        Name other Test Automation tools. <input type="text" class="form-control" />
                    </span>
                </ol>
            </span>

            <input onclick="$('#ContinousIntegrationSpan').toggle();" type="checkbox" value="ContinousIntegration" name="ContinousIntegrationMain" id="ContinousIntegration" />Continous Integration tools.<br />
            <span id="ContinousIntegrationSpan" style="display:none">
                <ol>
                    <li><input type="radio" value="ContinousIntegrationNone" score="0" name="ContinousIntegration" id="ContinousIntegration3" />&nbsp;None</li>
                    <li><input type="radio" score="5" value="Jenkins" name="ContinousIntegration" id="ContinousIntegration1" />&nbsp;Jenkins</li>
                    <li><input onclick="$('#ContinousIntegrationOthers').toggle();" score="5" type="radio" value="ContinousIntegrationOthers" name="ContinousIntegration" id="ContinousIntegration2" />&nbsp;Others</li>
                    <span id="ContinousIntegrationOthers" style="display:none">
                        Name other Test Automation tools. <input type="text" class="form-control" />
                    </span>
                </ol>
            </span>

        </td>
    </tr>

    <tr>
        <td><label class="form-control-static"> List of Application Components supported</label></td>
        <td>
            <input onclick="$('#AppComponentsSupportedSpan').toggle();" type="checkbox" value="MonitoringComponentsSupported" name="AppComponentsSupportedMain" id="AppComponentsSupported" />&nbsp;Monitoring<br />
            <span id="AppComponentsSupportedSpan" style="display:none">
                <ol>
                    <li><input type="radio" value="AppComponentsSupportedNone" score="0" name="AppComponentsSupported" id="AppComponentsSupported4" />&nbsp;None</li>
                    <li><input type="radio" value="Monitoring" score="5" name="AppComponentsSupported" id="AppComponentsSupported1" />&nbsp;Monitoring</li>
                    <li><input type="radio" value="Warning" score="3" name="AppComponentsSupported" id="AppComponentsSupported2" />&nbsp;Error in File</li>
                    <li><input type="radio" value="Error" score="2" name="AppComponentsSupported" id="AppComponentsSupported3" />&nbsp;DB Connection</li>
                </ol>
            </span>
            <input onclick="$('#MemomryMonitoringSpan').toggle();" type="checkbox" value="MonitoringComponentsSupported" name="MemoryMonitoringMain" id="AppComponentsSupported" />&nbsp;Memomry Monitoring<br />
            <span id="MemomryMonitoringSpan" style="display:none">
                <ol>
                    <li><input type="radio" value="MemoryMonitoringNone" score="0" name="MemoryMonitoring" id="MemoryMonitoring4" />&nbsp;None</li>
                    <li><input type="radio" value="MemoryOverUtilization" score="5" name="MemoryMonitoring" id="MemoryMonitoring1" />&nbsp;Memeory over utilization</li>
                    <li><input type="radio" value="CPUUtillization" score="3" name="MemoryMonitoring" id="MemoryMonitoring2" />&nbsp;CPU over utilization</li>
                    <li><input onclick="$('#MemomryMonitoringOthers').toggle();" score="2" type="radio" value="MemoryMonitoringOthers" name="MemoryMonitoring" id="MemoryMonitoring3" />&nbsp;others</li>
                    <span id="MemomryMonitoringOthers" style="display:none">
                        Name other Memomry Monitoring functions <input type="text" class="form-control" />
                    </span>
                </ol>
            </span>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input id="btnSubmit" type="button" value="Submit My Survey" class="btn btn-primary btn-lg" />

        </td>
    </tr>
</table>
<div class="well-lg">
</div>
<script type="text/javascript">
    function releaseFreqAnswer(radio) {
        switch (radio.value) {
            case "Daily":
                document.getElementById("Daily").style.display = "inline";
                document.getElementById("Weekly").style.display = "none";
                document.getElementById("Monthly").style.display = "none";
                break;
            case "Weekly":
                document.getElementById("Daily").style.display = "none";
                document.getElementById("Weekly").style.display = "inline";
                document.getElementById("Monthly").style.display = "none";
                break;
            case "Monthly":
                document.getElementById("Daily").style.display = "none";
                document.getElementById("Weekly").style.display = "none";
                document.getElementById("Monthly").style.display = "inline";
                break;
        }
    }

    
</script>
}